*{
    padding: 0;
    margin: 0;
    color: #fff;
  font-family: sans-serif;
}
body{
    background: #001;
    display: flex;
}

.menu{
background-color: #123;
width:60px ;
padding: 20px;
height: 100vh;
overflow: hidden;
transition: 1s;
}

.menu:hover{
    width: 260px;
}

ul{
list-style: none; 
height: 100%;
position: relative;
}
ul li a{
text-decoration: none;
display: block;
padding: 10px;
margin: 10px 0;
border-radius: 8px;
display: flex;
align-items: center;
gap:40px ;
transition: .3s;


}
ul li a:hover, .active{
    background-color: #ffffff55;
}
ul li a i{
    font-size: 35px;
}

.login-out{
position: absolute;
width:100%;
bottom: 0;
}
.login-out a{
background-color: rgb(53, 53, 139);
}
.imag-box{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: solid 3px white;
    flex-shrink: 0;
}
img{
    width: 100%;
}
.profile{
    display: flex;
    gap: 30px;
    align-items: center;
}
.profile h2{
    font-size: 15px;
}
.m{
    color: orangered;
font-family: sans-serif;
}
.content{
    width: 100%;
}
.title{
    background: rgb(45, 45, 133);
    justify-content: space-between;
    display: flex;
    padding: 10px;
    align-items: center;
    margin:10px 0;
    justify-content: space-between;
    border-radius: 8px;
}

.data-info{
justify-content: space-between;
display: flex;
align-items: center;
flex-wrap: wrap;
gap: 10px;
}

.data-info .box{
    background-color: #123;
    flex-basis: 150px;
    height: 150px;
    flex-grow: 1;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.data-info .box:hover{

background-color: #ffffff55;
width: 100%;


}
.data-info .box i{
    font-size: 40px;
}
.data-info .box .data{
    font-size: 40px;

}
.data-info .box .data span{
    font-size: 40px;
}
